
.starrow {
  margin: 0 0 $margin;

  .switch,
  .vpnbtn {
    min-width: dpi(24px);
    min-height: dpi(24px);
    margin: 0 $margin;
  }

  .switch {
    &.on {
      padding-right: dpi(19px);
    }
    &.off {
      padding-left: dpi(19px);
    }
  }

  label {
    font-size: dpi(19px);
    margin: 0 dpi(6px);

    &.statname {
      min-width: dpi(82px);
    }

    &.hard {
      min-width: dpi(52px);
    }
  }

  .starrow-track {
    min-height: dpi(12px);
    color: $xfg;
    background-color: $x0;
    margin: 0 dpi(6px);
  }

  .triangle {
    &.topleft {
      border-width: dpi(12px) dpi(12px) 0 0;
    }
    &.bottomright {
      border-width: 0 0 dpi(12px) dpi(12px);
    }
  }
}

scale {
  trough {
    min-height: dpi(30px);
    min-width: dpi(100px);
    background-color: $x0;
    margin: $margin;

    slider {
      min-height: dpi(20px);
      min-width: dpi(20px);
    }

    highlight {
      background-color: $xfg;
    }
  }
}

.switch {
  background-color: $x0;
  min-height: dpi(30px);
  min-width: dpi(30px);
  margin: $margin;
  transition: 500ms;
  padding: dpi(0px);
  &.on {
    padding-right: dpi(25px);
    background-color: rgba($xfg, 0.4);
  }
  &.off {
    padding-left: dpi(25px);
  }
}

.tri {
  background-color: $x0;
  min-height: dpi(30px);
  min-width: dpi(30px);
  margin: $margin;
  transition: 500ms;
  padding: dpi(0px);
  &.p0 {
    padding-left: dpi(0px);
    padding-right: dpi(25px);
  }
  &.p1 {
    padding-left: dpi(12px);
    padding-right: dpi(13px);
  }
  &.p2 {
    padding-left: dpi(25px);
    padding-right: dpi(0px);
  }
  &.dim {
    opacity: 0.35;
  }
}

$auto-tag-fill: mix($x0, $xbg, 65%);

label.auto-tag {
  font-size: dpi(15px);
  color: $x6;
  @include cut2($auto-tag-fill, dpi(9px));
  padding: 0 dpi(9px);
  margin: 0 $margin;
}

.switchbg {
  background-color: $xfg;
}

.knob {
  background: linear-gradient(135deg, transparent 19%, $x7 19%, $x7 81%,transparent 81%); 
}

.pcover {
  transition: 500ms;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: $margin;
}

.rcover {
  transition: 500ms;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: dpi(0px) 3 * $margin;
}

.snote {
  padding: $padding;
  label {
    font-size: dpi(20px);
    color: black;
  }
}

.wifinav {
  &.no-interface,
  &.airplane-mode {
    opacity: 0.55;
  }
}

.vpnt-state {
  min-width: dpi(70px);

  &.connected {
    color: $x2;
  }
  &.disconnected {
    color: $x3;
  }
  &.off {
    color: $x8;
  }
}

.vpnbtn {
  min-width: dpi(30px);
  min-height: dpi(30px);
  border-radius: dpi(3px);
  background-color: $x0;
  transition: background-color 200ms;

  &:hover {
    background-color: $x4;
  }
}
