.tlred {
  margin: $margin;
  border-style: solid;
  border-color: transparent;
  border-width: dpi(20px) dpi(20px) dpi(0px) dpi(0px);
  border-color: $x1 transparent transparent transparent;
}
.brred {
  margin: $margin;
  border-style: solid;
  border-color: transparent;
  border-width: dpi(0px) dpi(0px) dpi(20px) dpi(20px);
  border-color: transparent transparent $x1 transparent;
}

.trred {
  transition: 500ms;
  min-width: dpi(30px);
  min-height: dpi(30px);
  margin: $margin;
  box-shadow: none;
  &.active {
    box-shadow: dpi(5px) dpi(-5px) dpi(0px) dpi(0px) $x1;
  }
}

.blred {
  transition: 500ms;
  min-width: dpi(30px);
  min-height: dpi(30px);
  margin: $margin;
  box-shadow: none;
  &.active {
    box-shadow: dpi(-5px) dpi(5px) dpi(0px) dpi(0px) $x1;
  }
}
