
.animtime {
  label {
    margin: dpi(0px);
  }
}

.tray-tasks {
  margin-right: dpi(4px);
}

.tray-task {
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}

.tb-gap {
  margin-bottom: dpi(20px);
}

.hideslide {
  all: unset;
  trough {
    min-width: dpi(400px);
    background-color: transparent;
    slider {
      min-width: dpi(400px);
      min-height: dpi(10px);
      background-color: transparent;
      margin: dpi(-100px) dpi(0px);
    }
    highlight {
      background-color: transparent;
    }
  }
}

.fakehandle {
  min-width: dpi(200px);
  min-height: dpi(8px);
  margin: dpi(4px);
  background-color: transparent;
  transition: 500ms;
  background-color: $x8;
  border-radius: dpi(4px);
}
