@import "./theme";
@import "./scss/_scale.scss";

$padding: dpi(8px);
$margin: dpi(8px);
$barheight: dpi(56px);

* {
  all: unset;
  color: $xfg;
  font-family: "Fairfax HD";
  font-size: dpi(25px);
  font-weight: bold;
}

tooltip {
  background: linear-gradient(135deg, transparent 10%, $xbg 10%, $xbg 90%,transparent 90%);
}

.window {
  background-color: $xbg;
  &.cont {
    padding: $padding;
  }
  &.bar {
    padding: dpi(0px) 2 * $padding;
  }
  &.sub {
    background-color: $x0;
  }
  &.trans {
    background-color: transparent
  }
}

label {
  margin: 0 $margin;
  &.large {
    font-size: dpi(30px);
  }
  &.hard {
    color: $x7;
  }
}

.barheight {
  min-height: $barheight;
}

.triangle {
   border-style: solid;
   border-color: transparent;
   &.topleft {
     border-width: dpi(20px) dpi(20px) 0 0;
     border-color: $xbg transparent transparent transparent;
     &.large {
       border-width: dpi(40px) dpi(40px) 0 0;
     }
   }
   &.topright {
     border-width: 0 dpi(20px) dpi(20px) 0;
     border-color: transparent $xbg transparent transparent;
     &.large {
       border-width: 0 dpi(40px) dpi(40px) 0;
     }
   }
   &.bottomright {
     border-width: 0 0 dpi(20px) dpi(20px);
     border-color: transparent transparent $xbg transparent;
     &.large {
       border-width: 0 0 dpi(40px) dpi(40px);
     }
   }
   &.bottomleft {
     border-width: dpi(20px) 0 0 dpi(20px);
     border-color: transparent transparent transparent $xbg;
     &.large {
       border-width: dpi(40px) 0 0 dpi(40px);
     }
   }
}

.trianglesub {
   border-style: solid;
   border-color: transparent;
   &.topleft {
     border-width: dpi(20px) dpi(20px) 0 0;
     border-color: $x0 transparent transparent transparent;
     &.large {
       border-width: dpi(40px) dpi(40px) 0 0;
     }
   }
   &.topright {
     border-width: 0 dpi(20px) dpi(20px) 0;
     border-color: transparent $x0 transparent transparent;
     &.large {
       border-width: 0 dpi(40px) dpi(40px) 0;
     }
   }
   &.bottomright {
     border-width: 0 0 dpi(20px) dpi(20px);
     border-color: transparent transparent $x0 transparent;
     &.large {
       border-width: 0 0 dpi(40px) dpi(40px);
     }
   }
   &.bottomleft {
     border-width: dpi(20px) 0 0 dpi(20px);
     border-color: transparent transparent transparent $x0;
     &.large {
       border-width: dpi(40px) 0 0 dpi(40px);
     }
   }
}


entry {
  color: $xfg;
  background-color: $x0;
  padding: $padding;
  margin: dpi(14px) dpi(0px) dpi(14px) dpi(0px);
  transition: 500ms;
}

@import "./scss/topbar.scss";
@import "./scss/bottombar.scss";
@import "./scss/tasklist.scss";
@import "./scss/system.scss";
